  .wrapper{
    width: 130px;
    height: 50px;
    background-color: #4b4d53;
    display: none;
    /* display: flex; */
    padding: 10px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
  }
  .radio_group{
    width: 50px;
    height: 50px;
    margin: 5px;
    position: relative;
    text-align: center;
    line-height: 50px;
    font-size: 40px;
  }
  .radio_group input[type="radio"]{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    z-index: 1;
    cursor: pointer;
  }
  .radio_group input[type="radio"] + label{
    color: #95a5a6;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(.8);
    transition: color 0.3s ease, transform 0.3s ease, scale 0.3s ease;
  }
  .radio_group input[type="radio"]:checked + label{
    color:#3498db;
    transform: scale(1.5);
    animation: keepState 2s forwards;
  }
/* 添加鼠标悬停时的效果（可选） */
.radio_group input[type="radio"] + label:hover {
    transform: scale(1.5);
    cursor: pointer;
}
/* 定义动画关键帧 - 恢复到最初状态 */
@keyframes keepState {
    to {
        color: #3498db;
        transform: scale(0.8);
    }
}