textarea[name="message"] {
    background: linear-gradient(to bottom, #4b4d53, #6b6d74);
    color: #FFFFFF; /* 白色文本 */
    border: 2px solid #AAA;
    border-radius: 8px; /* 设置圆角 */
    padding: 10px;
    font-size: 16px;
    color: #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: block;
    width: 640px; /* 调整文本框宽度 */
    margin: 0 auto; /* 居中显示 */
    /* animation: your-animation 5s infinite; 添加动画效果 */
    /* background-image: url("/static/favicon.ico");
    background-position: right center; /* 图标位置 */
    /* background-repeat: no-repeat;
    padding-right: 30px; */
  }
  
  textarea[name="message"]::placeholder {
    color: #a7a7a7;
  }
  
  textarea[name="message"]:focus {
    outline: none;
    border-color: #AC92EC;
    box-shadow: 0 0 5px rgba(172, 146, 236, 0.5);
  }
  
  /* @keyframes your-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  } */
  